@using Microsoft.Extensions.Options;
@using OAuth20.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using OAuth20.Server.Models.AccountViewModels;


@model OAuth20.Server.Models.AccountViewModels.CreateUserRequest
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IStringLocalizer<AccountsController> Localizer
@inject IHtmlLocalizer<AccountsController> HtmlLocalizer
<div class="card-deck" style="Width: 650px;">

    <div class="card m-3" style="Width: 650px;">
            <h5 class="card-header text-white" style="color:#77B756;background-color:#77B756">Register</h5>
            <div class="card-body">
            <p>@HtmlLocalizer["FillForm"]</p>
                <form class="px-4 py-3" asp-action="Register" asp-controller="Accounts" method="post">
                    <div class="form-group">
                    <label asp-for="FirstName">@HtmlLocalizer["FirstName"]</label>
                    <input type="text" asp-for="FirstName" id="FirstName" class="form-control" placeholder=@HtmlLocalizer["FirstName"] />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="LastName">@HtmlLocalizer["LastName"]</label>
                    <input type="text" asp-for="LastName" class="form-control" placeholder=@HtmlLocalizer["LastName"] />
                        <span asp-validation-for="LastName" id="LastName" class="text-danger"></span>
                    </div>
               @*     <div class="form-group">
                    <label for="exampleDropdownFormEmail1">@HtmlLocalizer["UserName"]</label>
                    <input type="text" class="form-control" asp-for="UserName" id="exampleDropdownFormEmail1" placeholder=@HtmlLocalizer["UserName"]>
                    <span asp-validation-for="UserName" id="UserName" class="text-danger"></span>
                    </div>
*@
                    <div class="form-group">
                    <label for="exampleDropdownFormEmail1">@HtmlLocalizer["Email"]</label>
                    <input type="text" class="form-control" asp-for="Email" id="exampleDropdownFormEmail1" placeholder=@HtmlLocalizer["Email"]>
                    <span asp-validation-for="Email" id="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label for="phone">@HtmlLocalizer["PhoneNumber"]</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder=@HtmlLocalizer["PhoneNumber"] id="phone">
                    </div>
                    <div class="form-group">
                    <label for="exampleDropdownFormPassword1">@HtmlLocalizer["Password"]</label>
                    <input type="password" asp-for="Password" class="form-control" id="exampleDropdownFormPassword1" placeholder=@HtmlLocalizer["Password"]>
                    <span asp-validation-for="Password" id="Password" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label for="exampleDropdownFormPassword1">Repeat Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Repeat Password">
                    </div>*@
                    <div class="form-group">
                        <div class="form-check">
                        <input type="checkbox" asp-for="IsChecked" id="IsChecked" class="form-check-input" />
                          
                        <label class="form-check-label">
                            @HtmlLocalizer["TermPrivacy"]                                                           
                            </label>
                        <span asp-validation-for="IsChecked" id="IsChecked" class="text-danger"></span>

                       
                        </div>
                  
                    </div>
                <button type="submit" class="btn btn-primary">@HtmlLocalizer["Singup1"]</button>
                </form>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Login">
                @HtmlLocalizer["AlredyAccount"]
            </a>

            </div>
        </div>
    </div>


